.formCard-container {
  width: 500px;
  background-color: #1a1c20;
  min-height: 200px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 524px) {
    width: 85%;
  }
}
