.formSwitch-container{
     width: 90%;
     height: 50px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     padding-right: .5rem;
     p{
          color: #AFAFAF;
          font-size: 10px;
          span{
               color: #1778F2;
               margin-left: 5px;
          }
     }
}