.followers-container {
  width: 400px;
  height: 350px;
  background-color: #1a1c20;
  border-radius: 15px;
  overflow: hidden;
  position: fixed;
  right: 5rem;
  top: 500px;
  @media (max-width: 1400px) {
    width: 300px;
  }
  @media (max-width: 1220px) {
    width: 200px;
  }
}
